{{ define "navbar" }}
	{{ partial "navbar.html" . }}
	{{ partial "breadcrumb-categories-terms.html" . }}
{{ end }}
{{ define "main" }}
	<div class="container mt-3 mt-xl-5">
		<div class="row bg-light">
			<div class="col-sm-6 col-md-6 col-lg-7 col-xl-7 col-xxl-7 offset-xxl-1 align-self-md-center">
				<h1 class="mt-5 mt-md-0 ms-sm-5 ms-md-0 ms-lg-5 ms-xl-3 ms-xxl-0 display-5 fw-bold">{{ .Page.Title }}</h1>
				<p class="mb-5 mb-md-0 ms-sm-5 ms-md-0 ms-lg-5 ms-xl-3 ms-xxl-0 fs-4">{{ .Page.Summary }}</p>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-5 col-xl-5 col-xxl-4 text-end align-self-sm-center align-self-md-start d-none d-sm-inline">
				<img src="/assets/img/data-storage.svg" class="img-fluid" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-xl-9 mt-3 mb-3 mb-xl-5">
				{{ range .Pages }}
					{{ partial "excerpt.html" . }}
				{{ end }}
			</div>
		</div>
	</div>
{{ end }}

{{ define "javascript" }}
<script type="text/javascript">
	window.addEventListener('load', function () {
		var tabActive = document.getElementById("nav-{{ .Page.Slug }}");
		tabActive.classList.add("active");
	});
</script>
<script type="text/javascript" src="/assets/js/sticky-footer.js"></script>
{{ end }}