{{ if in .RawContent "<!--more-->" }}
	{{ .Summary }}
{{ else }}
	{{ if .Params.thumbnail }}
		<div class="row justify-content-sm-center justify-content-xl-start align-items-lg-center mb-4">
			<div class="col-sm-11 col-md-12 col-lg-6 mb-2 mb-lg-0">
				<img src="/assets/{{ .Params.thumbnail }}" class="img-fluid"><!-- holder.js/482x241 -->
			</div>
			<div class="col-sm-11 col-md-12 col-lg-6 col-xl-5">
				<a href="{{ .Permalink }}" class="text-decoration-none link-dark h5">{{ .Title }}</a>
				<div class="small mt-2 mt-xxl-3">
					{{ range (.GetTerms "categories") }}<a href="{{ .Permalink }}" class="link-success pe-2 text-decoration-none">{{ .Title }}</a> {{ end }}
					<span class="text-black-50">{{ .Page.Date.Format "2 January, 2006" }}</span>
				</div>
			</div>
		</div>

	{{ else }}
		<div class="mt-4 mb-5">
			<h4>{{ .Title }}</h4>
			<div class="col-xl-10 mb-2">
				{{ .Description }}
			</div>
			<a href="{{ .Permalink }}" class="btn btn-outline-success mt-1 mt-xxl-1">Selengkapnya</a>
		</div>
	{{ end }}
{{ end }}
