<div class="container" id="footer">
	<div class="d-sm-flex align-items-sm-center border-top py-3">
		<div class="text-secondary flex-sm-grow-1 text-center text-sm-start ms-sm-3">2021-2022 <strong>kolektif</strong>.my.id</div>
		<ul class="nav justify-content-center justify-content-sm-start">
			<li class="nav-item">
				<a class="nav-link link-secondary" href="#"><i class="bi bi-instagram"></i> Instagram</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-secondary" href="#"><i class="bi bi-youtube"></i> YouTube</a>
			</li>
		</ul>
	</div>
</div>
