<nav class="navbar navbar-expand-md bg-white border-bottom">
	<div class="container-md">
		<a href="/" class="navbar-brand">KOLEKTIF</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" id="offcanvasNavbar">
			<div class="offcanvas-header">
				<button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					{{ range .Site.Taxonomies.categories }}
						<li class="nav-item"><a href="{{ .Page.Permalink }}" class="nav-link">{{ .Page.Title }}</a></li>
					{{ end }}
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Keterampilan</a>
						<ul class="dropdown-menu dropdown-menu-end">
							{{ range where (where .Site.Pages "Section" "keterampilan").ByTitle "Params.slug" "ne" "keterampilan" }}
								<li><a href="{{ .Permalink }}" class="dropdown-item">{{ .Title }}</a></li>
							{{ end }}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
