{{ define "stylesheet" }}
	<link rel="stylesheet" type="text/css" href="{{ "assets/css/bootstrap-icons.css" | absURL }}">
{{ end }}

{{ define "navbar" }}
	{{ partial "navbar-home.html" . }}
{{ end }}

{{ define "main" }}
	<div class="container">
		<div class="text-center my-5" id="hero">
			<h1 class="display-1 fw-bold">Pustaka Digital</h1>
			<h5 class="text-secondary fw-light">Secara kolektif mengarsipkan dan mengabarkan.</h5>
		</div>

		<div id="carouselExampleFade" class="carousel slide carousel-fade mb-3 mb-lg-4 mb-xxl-5" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{{ "assets/img/slide1.svg" | absURL }}" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{{ "assets/img/slide2.svg" | absURL }}" class="d-block w-100">
				</div>
				<div class="carousel-item">
					<img src="{{ "assets/img/slide3.svg" | absURL }}" class="d-block w-100">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
			</button>
		</div>
		
		<div class="row row-cols-1 row-cols-lg-3 mb-5">
			<div class="col d-flex align-items-start">
				<div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-toggles2"></i>
				</div>
				<div>
					<h2>Pengumuman</h2>
					<p class="text-secondary">Informasi resmi dari madrasah</p>
					<a href="#" class="icon-link d-inline-flex align-items-center text-decoration-none link-success">Call to action<i class="bi bi-chevron-right"></i></a>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-cpu-fill"></i>
				</div>
				<div>
					<h2>Dokumentasi</h2>
					<p class="text-secondary">Arsip kegiatan di madrasah</p>
					<a href="#" class="icon-link d-inline-flex align-items-center text-decoration-none link-success">Call to action<i class="bi bi-chevron-right"></i></a>
				</div>
			</div>
			<div class="col d-flex align-items-start">
				<div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
					<i class="bi bi-tools"></i>
				</div>
				<div>
					<h2>Pustaka</h2>
					<p class="text-secondary">Referensi belajar mandiri</p>
					<a href="#series" class="icon-link d-inline-flex align-items-center text-decoration-none link-success">Call to action<i class="bi bi-chevron-right"></i></a>
				</div>
			</div>
		</div>

		<div class="row" id="posts">
			<div class="col-lg-8 col-xl-9 mb-3 mb-xxl-4">
				<div class="d-flex align-items-center border-bottom">
					<div class="flex-column mb-2 flex-grow-1">
						<p class="h5 mb-0">Terbaru</p>
						<small class="text-black-50">Unggahan terkini</small>
					</div>
					{{ with .Site.GetPage "/content/posts/_index.md" }}
						<a href="{{ .Permalink }}" class="btn btn-outline-success rounded-1">Lihat semua</a>
					{{ end }}
				</div>
			</div>
			<div class="col-md-8 col-xl-9 mb-xxl-4">

				{{ range first 6 (where .Site.RegularPages.ByWeight "Type" "posts") }}

					{{ partial "excerpt.html" . }}

				{{ end }}

			</div>
			<div class="col-md-4 col-lg-4 col-xl-3 col-xxl-3">
				<div class="alert alert-success alert-dismissible fade show">
					<strong>Terimakasih atas kunjungannya</strong>
					<p class="mb-0">Laman sedang dalam tahap pengembangan.</p>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div><!-- /#posts -->

	</div>
{{ end }}

{{ define "footer" }}
	<div class="container mb-xxl-5">
		<div class="border-top pt-xxl-5">
			<div class="row">
				<div class="col-xxl-2">
					<div class="fw-bold mb-xxl-2">Kategori</div>
					<ul class="list-unstyled">
						{{ range .Site.Taxonomies.categories }}
							<li class="mb-xxl-2"><a href="{{ .Page.Permalink }}" class="text-decoration-none link-dark fw-light">{{ .Page.Title }}</a></li>
						{{ end }}
					</ul>
				</div>
				<div class="col-xxl-2">
					<div class="fw-bold mb-xxl-2">Keterampilan</div>
					<ul class="list-unstyled">
						{{ range where (where .Site.Pages "Section" "keterampilan").ByTitle "Params.slug" "ne" "keterampilan" }}
							<li class="mb-xxl-2"><a href="{{ .Permalink }}" class="text-decoration-none link-dark fw-light">{{ .Title }}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
		<div class="d-xxl-flex my-xxl-5" id="creadits">
			<div class="d-xxl-flex flex-xxl-row gap-xxl-4">
				{{ range (where .Site.RegularPages "Section" "pages") }}
					<a href="{{ .Permalink }}" class="small fw-light text-decoration-none link-dark">{{ .Title }}</a>
				{{ end }}
				{{ range .Site.Data.sosmed }}
					<a href="{{ .link }}" class="small fw-light text-decoration-none link-dark">{{ .title }}</a>
				{{ end }}
			</div>
			<div class="ms-auto fw-light small"><i class="bi bi-patch-check-fill text-primary me-1"></i> PASTI</div>
		</div>
	</div>
{{ end }}

{{ define "javascript" }}
	<script type="text/javascript" src="{{ "assets/js/holder.min.js" | absURL }}"></script>
{{ end }}